body{
  background-color: aliceblue;
}

h1{
text-align: center;
}


.img-fluid{
    margin-left: auto;
    margin-right: auto;
}


h2{
    text-align: center;
    color:lightslategray;
}
p{
 text-align: center;
}